body {
  background-color: #236e96;
  margin: 0;
  padding: 0;
  font-family: Verdana,sans-serif;
}

#wrap {
  width:70%;
  margin: 0 auto;
  background-color: white;
}

header img {
  width: 800px;
  height: 500px;
}

header {
  padding: 10px;
  text-align: center;
  background-color: #236e96;
}

nav {
  background-color: #ff598f;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  font-size: 170%;
  padding: 20px 40px;
  text-decoration: none;
}

nav a:hover {
  background-color: #f3872f;
  color: black;
}

nav li {
  display: inline;
}

nav ul {
  margin: 0;
  padding: 0;
}

section {
  padding: 40px;
  overflow: auto;
}

.pod {
  width: 30%;
  float: right;
  margin-top: -30px;
}

.button {
  background-color: #ffd700;
  color: Black;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  display: inline-block;
}

footer {
    background-color: #ff598f;
    color: black;
    text-align: center;
    padding: 15px;
}
