.one{
  width: 100px;
}
.two{
  width: 100px;
}
.three{
  width: 100px;
}
.four{
  width: 100px;
}
.five{
  width: 100px;
}
img{
  width: 700px;
}
img{
  float: left;
  padding: 20px;
}
header{
  font-size: 40px; 
}
